$backgroundHeader: #3bcaff;
$closeMenuButton: #76B3FA;

$backgroundToSection: #f6f6f6;

$importantBackground: hsla(201, 87%, 54%,0.7);
$adoptTextBackground: hsla(201, 87%, 54%, 0.5);

$petNameBackground: #3b5998;
$petInfoOnImageBackground: #00a7e5;
$petInfoBackground: #00B8E9;
$petAdoptionMainTextBackground: #427be5;
$textAboutPetButtonBackground: #3bcaff;
$phoneShowOrHideButtonBackground: #4ea5ff;
$petFormBackground: #82b3ff;

$formTitleBackground: #3a4580;
$lineColorsForm: #95989A;
$sendButtonFormBackground: #2522A2;

$newsTitleBackground: hsla(201, 87%, 54%,0.7);
$newsDescriptionBackground: rgba(39, 129, 208, 0.7);

$allSectionTextBackground: hsla(209, 89%, 49%, 0.5);

$nameOfCategoryBackground: #00a7e5;
$fontMainColor: #fff;

$footerBackground: #e6e6e6;
$footerTextColor: #656565;
