footer {
  background: $footerBackground;
  height: 120px;
  font-family: $font-second;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .contact{
      justify-content: space-between;
      p{
        font-size: $font-size;
        padding: $padding/4;
        font-weight: 500;
        color: $footerTextColor;
      }
      p:hover{
        opacity: 0.8;
      }
    }

    .social-media{
      display: flex;
      flex-direction: row;
      padding: $padding/4;

      p:hover{
        opacity: 0.8;
      }

      p:first-child{
        margin-right: 10px;
      }
    }
  }

}
