.news-and-photo{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $backgroundToSection;
  color: $fontMainColor;
  font-family: $font;

 @include tablet-to-all{
    flex-direction: row;
    flex-wrap: wrap;
    padding: $paddingMain;
  }
}

.news{
  padding-bottom: $padding/2;
  @include desktop {
    padding: $padding/2;
    width: 33.333%;
  }
  @include tablet{
    padding: $padding/2;
    width: 50%;
  }
}

.news-title{
  text-align: center;
  background: $newsTitleBackground;
  font-size: $font-size*1.5;
  padding: $paddingMain;

  @include tablet-to-all {
    border-radius: 4px 4px 0 0;
    font-size: $font-size*2;
  }
}

.news-image{
  width: 100%;
  opacity: 0.9;
  flex-basis: auto;
  overflow: auto;
  display: block;
  &:hover{
    opacity: 0.8;
  }
}


.news-description{
  padding: $paddingMain;
  font-size: $font-size;
  background:$newsDescriptionBackground;
  text-align: justify;
  line-height: 1.1;
  @include desktop{
    border-radius: 0 0 6px 6px;
    font-size: $font-size * 1.1;
  }
}
